:root { 
    --mavi: #6bc2f1;
    --darkblue: #072035;
}
.carousel-item { 
    height: 60vh; 
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    text-align: center;
    width: 50%; 
}
.carousel-control-prev {
    left: calc(50% - 30%);
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}
.carousel-control-next {
    right: calc(50% - 30%);
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;         
    height: 2rem;
}
.carousel-indicators {
    bottom: 0.5rem; 
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.carousel-indicators button {
    width: 46px!important;
    height: 46px!important;
    border-radius: 50%;
    padding: 0;
    border: none;
    background: none;
}
.carousel-indicators img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}
.carousel-indicators .active img {
    border-color: #fff; 
}
.bg-mavi { background-color: var(--mavi); }
.bg-boz { background-color: #f1f1f1; }
.bg-darkblue{background-color: var(--darkblue);}
.text-mavi { color: var(--mavi); }
.vh-50 { height: 50vh; }

header { background: url('img/headerbg.jpg') 55% 50%/cover;}
#surgeons { background: url('img/surgeons.jpg') 55% 50%/cover; }
#children { background: url('img/children.jpg') 55% 50%/cover; }

#surgeons:hover, #children:hover { opacity: 50% }
#surgeons:hover h3, #children:hover h3 { display: initial!important }